<a href="https://colab.research.google.com/github/AlamSalazar/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Itro Python 3
## Variables
tipo dinámico

In [ ]:
escuela = "FES Aragón" #si se usa una frase, poner "...  ..."
print(escuela)
print('-----------') #si se usa una sola palabra usar '...'
edad=23
estatura =1.79
#fumador = true
frase = """ 
Esta es 
una 
frase 
de multiples líneas 
y tambien es 
un tipo de dato
""" #si se usan varias lineas usar """"...""""
print (frase)
nombre = 'Alam'
nombreCompleto = "Alam Salazar"

# Print
con comas ,
con signo mas +
con formato ()
con el operador f"

In [7]:
  print (nombre,edad) #comas

Alam 23

In [10]:
print (nombre + str(edad)) #más (concatena)
print (nombre + nombreCompleto)

Alam23
AlamAlam Salazar

In [14]:
#con formato -> Su nombre es Alam y su edad es de 23 años.
print("Su nombre es", nombre,"y su edad es de",edad,"años.")
print("Su nombre es {0} y su edad es de {1} años.". format(nombre, edad) )
print("Su nombre es {1} y su edad es de {0} años.". format(nombre, edad) )
print("Su nombre es {} y su edad es de {} años.". format(nombre, edad) )

Su nombre es Alam y su edad es de 23 años.
Su nombre es Alam y su edad es de 23 años.
Su nombre es 23 y su edad es de Alam años.
Su nombre es Alam y su edad es de 23 años.

In [15]:
#con formato con el operador f"
print(f"su nombre es {nombre} y su edad es de {edad} años.")

su nombre es Alam y su edad es de 23 años.

# Caracter de escape
\n salto de linea
\t tabulador
\a beep
\" \' comillas en texto
\\ la misma diagonal
etc.

In [17]:
"""
para hacer comentarios
en multiple linea,
se puede realizar como
en el anterior print
"""
print (f"\tMi nombre es \n\t\t{nombre}")

	Mi nombre es
		Alam

#Ayuda en tipos de datos en Python
dir()
help()

In [ ]:
#str, int,float,bool....list,dict,set
help(str)
dir(str)

In [25]:
print(nombreCompleto.capitalize())
print(nombreCompleto.upper())
print(nombreCompleto.title())

print("\n\n",nombreCompleto.upper(), end=" Hola")
print("Mundo")

Alam salazar
ALAM SALAZAR
Alam Salazar


 ALAM SALAZAR HolaMundo

#Clase String
es manejada como un arreglo(c o java) o lista(python)

```
# telefono = "Huawei mate 30 pro"
```

In [30]:
telefono = "Huawei mate 30 pro"
print(telefono[5])

i

#Slicing (rebanado)
`[ini:stop:incremento]`
nota, el stop no se incluye, termina en el valor anterior stop

In [40]:
print(telefono[7:11:1])
#El inicio y el incremento son opcionales
print(telefono[:11:])
#El valor por defercto de stop es len(str)
print(telefono[::])
#incremento negativo
print(telefono[::-1])
print(telefono[-3::])
ini = -3
inc = 1
print(telefono[ini::inc])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro
pro

#Metodos de String(str)
Existen métodos muy útiles en esta clase.

In [57]:
facultad = "     facultad de estudios superiores aragon     "
print(facultad)
print(facultad.count(" ")) #cuenta la cantidad de caracteres
print(facultad.find("s")) #busca el indice del caracter en la cadena
print(len(facultad)) #tamaño de la cadena
print("-------")

print(facultad.strip(" ")) #quita los espacios al principio y final
print(facultad.lstrip(" ")) #izquierda
print(facultad.rstrip(" ")) #derecha
print("-------")

print(facultad)
print(facultad.strip().split(" "))
print("-------")

print(facultad)
otraCadena = facultad #Copiar cadenas
print(otraCadena)
otraCadena="FES Aragon"
print(facultad)
print(otraCadena)
print("-------")

print(facultad)
colores = ["rojo","verde"]
otra = colores.copy()
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

     facultad de estudios superiores aragon
14
18
48
-------
facultad de estudios superiores aragon
facultad de estudios superiores aragon
     facultad de estudios superiores aragon
-------
     facultad de estudios superiores aragon
['facultad', 'de', 'estudios', 'superiores', 'aragon']
-------
     facultad de estudios superiores aragon
     facultad de estudios superiores aragon
     facultad de estudios superiores aragon
FES Aragon
-------
     facultad de estudios superiores aragon
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']