<a href="https://colab.research.google.com/github/AlamSalazar/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String continuaci√≥n
---

In [6]:
numeros_txt = "   1, 2, 3, 4    , 5    ,   35 , 15    , 12 "
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[j]=int(numeros_txt[j].strip())
print(numeros_txt)

   1, 2, 3, 4    , 5    ,   35 , 15    , 12
['1', ' 2', ' 3', ' 4    ', ' 5    ', '   35 ', ' 15    ', ' 12 ']
[1, 2, 3, 4, 5, 35, 15, 12]

# Funcion range()
---
```
# range(inicio,stop,incremento)
```

In [43]:
#print(range(1,10,3))
rango = range(1,10,2)

TypeError: ignored

In [ ]:
rango= range(1,10,2)
for x in rango:
  print(x)

rango=range(10)

# Listas
- Mutables
- Declaradas con [ ]
- Seelector [ int ]
#Tuplas
- NO mutables
- Declaran con ( )
- Selectos [ int ]
# Diccionarios
- Son mutables
- Son conjunto de pares llave:valor
- Equivalentes a los objetos JSON de JavaScript
# Conjuntos
- Representacion de la teoria de conjuntos

In [29]:
#Listas
frutas = ["pera","manzana","fresa","kiwi","naranja"]
print(frutas)
#Se puede meter cualquier variable
cosas = ["cuaderno", 2, 3.1416, True, False, ["colores","azul"]]
print(cosas)
frutas[2]="Fresa" #frutas[2]=frutas[2].capitalize()
frutas[3]=frutas[3].capitalize()
print(frutas)

#agregar a lista
frutas.append("Aguacate") #meter al final de la lista .append(variable)
print(frutas)
frutas.insert(2,"Sandia") #meter entre otras variables .insert(posicion, variable)
print(frutas)

fecha=["06","10","2020"] # 06/10/2020
print(fecha)
fecha_str = "/".join(fecha)
print(fecha_str)

['pera', 'manzana', 'fresa', 'kiwi', 'naranja']
['cuaderno', 2, 3.1416, True, False, ['colores', 'azul']]
['pera', 'manzana', 'Fresa', 'Kiwi', 'naranja']
['pera', 'manzana', 'Fresa', 'Kiwi', 'naranja', 'Aguacate']
['pera', 'manzana', 'Sandia', 'Fresa', 'Kiwi', 'naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020
['cuaderno', 2, 3.1416, True, False, ['colores', 'azul']]

In [50]:
#Eliminar elementos
cosas = ["cuaderno", 2, 3.1416, True, False, ["colores","azul"]]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo=cosas.pop() #Elimina cosas .pop(default last)
print(cosas)
print(algo)#guarda lo elimindo en una variable
algo2=cosas.pop(2) #Elimina cosas .pop(lugar del valor)
print(cosas)
print(algo, algo2)
 
##Vaciar una lista
#cosas.clear()
#print(cosas)

#Ordenar listas
print(frutas)
frutas.sort()
print(frutas)

['cuaderno', 2, 3.1416, True, False, ['colores', 'azul']]
['cuaderno', 2, 3.1416, True, False, ['colores', 'azul'], 'Libro', 'Lapiz']
['cuaderno', 2, 3.1416, True, False, ['colores', 'azul'], 'Libro']
Lapiz
['cuaderno', 2, True, False, ['colores', 'azul'], 'Libro']
Lapiz 3.1416
['Aguacate', 'Fresa', 'Kiwi', 'Sandia', 'manzana', 'naranja', 'pera']
['Aguacate', 'Fresa', 'Kiwi', 'Sandia', 'manzana', 'naranja', 'pera']

In [76]:
# Slicing
cosas = ["cuaderno", 2, 3.1416, True, False, ["colores","azul"]]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1]) #se selecciona un lugar y una cantidad
numeros = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros[7:12:1])

#Sustituir rebanadas  -2,-2  -> (1,2,3,4,5,6,7,-2,-2,13,14,15)
numeros[7:12:1] = [-2,-2]
print(numeros)

#preguntar por existencia
print( -2 in numeros)

[True, False]
['cuaderno', 2, 3.1416, True, False, ['colores', 'azul']]
de
(8, 9, 10, 11, 12)

TypeError: ignored

#Listas multidimencionales
---
listas dentro de listas

In [79]:
computadoras = ["HP","Mac Book Pro 17", "Mate book","Lenovo Legion"]
oss = ["Windows 10","Linux","Android","iOS"]
computo = [computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][:5:])
print(computo[0][3][5::-1]) #Lenovo invertido
print(computo[0][3][-8::-1]) #Lenovo invertido

dbms = [["mysql","Open Source",False],["MS SQL Server", "de paga", True]]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo Legion']
['Windows 10', 'Linux', 'Android', 'iOS']
Mate book
Mate
ovoneL
ovoneL
[['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo Legion'], ['Windows 10', 'Linux', 'Android', 'iOS'], [['mysql', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
mysql
de paga